:root { 
--black_900_7f:#0000007f; 
--bluegray_50:#eaeef4; 
--gray_100_e6:#eef6fbe5; 
--gray_100_e5:#eef5fbe5; 
--gray_50:#f6fafd; 
--orange_300_00:#ffc35700; 
--teal_300:#2dc8a8; 
--light_blue_100_33:#a9e1fb33; 
--black_900:#000000; 
--red_A100_7f:#fe80847f; 
--pink_500:#e91e63; 
--red_A700:#ff0000; 
--orange_300_3f:#ffc3573f; 
--teal_300_7f:#2dc8a87f; 
--red_A100:#fe8084; 
--gray_300:#d6e1e6; 
--orange_300:#ffc357; 
--gray_100:#eef5fb; 
--white_A700_87:#ffffff87; 
--bluegray_900:#092c4c; 
--gray_50_e5:#f6fafde5; 
--deep_purple_50:#ecebfd; 
--white_A700_00:#ffffff00; 
--light_blue_100_00:#a9e2fb00; 
--bluegray_600:#526477; 
--bluegray_400:#7e92a2; 
--indigo_A400:#504ef2; 
--white_A700:#ffffff; 
}